<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    {% include analytics_head.html %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Que é seo</a>
              <a href="{{ site.baseurl }}/vantagens-de-seo">Vantagens de seo</a>
              <a href="{{ site.baseurl }}/como-otimizar-o-seu">Como otimizar seo</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <article class="page">

            <h1>Tudo o que precisa saber sobre SEO</h1>
          
            <div class="entry">
              Se costuma andar pela internet provavelmente já ouviu falar de SEO. Estas três iniciais torna-ram-se numa das mais importantes ferramentas do marketing digital da actualidade e hoje em dia são poucos os sites que não recorrem a ela. Mas, afinal de contas, o que quer dizer SEO e como funciona?

Para explicarmos tudo o que necessita saber sobre este tópico temos que começar pelo início. Aliás, é assim que devem iniciar-se as histórias. SEO são então as inicias de Search Engine Op-timization, o que traduzido livremente para português dá algo como Otimização para Motores de Busca. No fundo, o SEO é o conjunto de estratégias de marketing digital que procuram melhorar os websites para que estes apareçam no topo dos resultados de qualquer motor de busca.

E o que é um motor de busca? Estes são aquelas plataformas que utilizamos para buscar qual-quer tipo de informação na internet, como é o caso do Google ou do Bing, apenas para citar dois dos mais populares. Sempre que fazemos uma pesquisa surgem milhares de resultado, se bem que sabemos por experiência própria que raramente passamos sequer para a segunda página. Isso quer dizer que, quanto mais alto surgir o nosso website numa pesquisa dessas, maiores são as probabilidades de efectuar uma venda ou de captar um novo seguidor.
            </div>
          </article>
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
